@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }


  
.navbar-brand img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

nav{
    display: flex;
}

nav.navbar{
    background-color: rgb(5, 165, 90) !important;
    display: flex;
    justify-content: center;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgb(25, 135, 84);
  color: whitesmoke;
  padding: 10px 0;
}

.marquee-text {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }


  .center-section {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .center-section a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
  }

  .center-section a:hover {
    color: #00bfff;
  }


  .auth-links a {
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
  }

  .auth-links a:hover {
    color: #00bfff;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  

  .product-card {
    flex: 1 1 250px; /* flex-grow, flex-shrink, flex-basis */
    max-width: 300px;
    background: #fff;
    border: .5px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  

  .product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .product-info {
    padding: 15px;
  }

  .product-title {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
  }

  .product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }

  .product-price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
  }

  .product-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
  }

  .product-button:hover {
    background: #0056b3;
  }
  .footer {
    background-color: #777;
    padding: 30px;
    text-align: center;
    color: white;
  }