body {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: url("../assets/bg\ peasy\ builder\ login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    width: 380px;
    height: 580px;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center center/cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background: #ffffff;
    overflow: hidden;
}

#chk {
    display: none;

    
}
.bi{
    color: #0B5F04 !important;
    font-size: 3rem !important;
    
    
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.signup i{
    font-size: 2rem;
    margin: 0.5rem;
    color: #000;
}

label {
    color: #030303;
    font-size: 2.3em;
    width: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 70%;
    height: 25px;
    background: #e7e1e1;
    font-size: 1rem;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;

}
input:-webkit-autofill {
    background-color: #e7e1e1 !important;
    -webkit-box-shadow: 0 0 0px 1000px #e7e1e1 inset !important;
    -webkit-text-fill-color: #000 !important;
  }
  

button {
    width: 75%;
    height: 45px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #000000;
    background: #198755;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    color: #000000;
    border-color: #000000;
    background: #015c3e ;
}

button a{
    text-decoration: none;
    color:#ffffff;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #000000;
    transform: scale(.6);
}

.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    z-index: 9999;
    animation: fadeOut 5s forwards;
    opacity: 1;
}

.popup-message.success {
    background-color: #ffffff;
    color: #14A44D;
}

.popup-message.error {
    background-color: #ffffff;
    color: #DC4C64;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; display: none; }
}


/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .main {
        width: 90%;
    }

    label {
        font-size: 1.8em;
        margin: 30px;
    }

    input, button {
        width: 80%;
    }

}
